{% extends 'base.html' %}
{% block title %}Invoice No {{obj.id}}{% endblock %}
    <style>
        table,th,td
        {
         border:2px solid black;
        }
    </style>
    {% block content %}
    <div>
        <p><strong>Name:</strong>{{obj.name}}</p>
        <p><strong>Phone: </strong>   {{obj.phone}}</p>
        <p><strong>Email: </strong>   {{obj.email}}</p>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
            {% for item in items %}
            <tr>
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
             <td>{{item.quantity}}</td>
             <td>{{item.category}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>{{total}}</td>
            </tr>
        </table>
        {% endblock %}