{% extends 'base.html' %}
{% block title %}Invoice No {{obj.id}}{% endblock %}
    {% block content %}
    <div>
        <p><strong>Name:</strong>{{obj.name}}</p>
        <p><strong>Phone: </strong>   {{obj.phone}}</p>
        <p><strong>Email: </strong>   {{obj.email}}</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
             <td>{{item.name}}</td>
             <td>{{item.price}}</td>
             <td>{{item.quantity}}</td>
             <td>{{item.category}}</td>
            </tr>
            {% endfor %}
            <tr class="table-dark">
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>{{total}}</td>
            </tr>
        </tbody>
        </table>
        <div class="alert alert-success" role="alert">
            Thankyou for your Purchase!
          </div>
          <button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</button>
				<button class="btn btn-danger"><i class="fa fa-envelope-o"></i> Mail Invoice</button>
        {% endblock %}