{% extends 'base.html' %}
    {% load static %}
    {% block title %}Customer Invoice{% endblock %}
    {% block content %}
    <form name="myform" id="cust_form" method="POST" action="">
        {% csrf_token %}

          <div class="row justify-content-center">
            <div class="col-8">
            <div class="alert alert-info text-center fs-4" role="alert">
            Customer Details
              </div>
         <div class="mb-3" id="namediv"> 
        <label class="form-label fw-bold" for="name">Name:</label>
        <input type="text" class="form-control" id="name" ariadescribedby="nameHelp" name="name">
        <small id="nameHelp" class="text-muted"></small>

         </div>
        <label class="form-label fw-bold" for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email">
           <div class="mb-3" id="phonediv">
        <label class="form-label fw-bold" for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" ariadescribedby="phoneHelp" name="phone">
        <small id="phoneHelp" class="text-muted"></small>

</div> 
</div>
</div>
    <div class="row justify-content-center mb-3" id="item-form">
        <div class="col-8" >
              <div class="alert alert-danger text-center fs-5" role="alert">
                Add New Item
              </div>
            <div id="itemnamediv">
                <label for="itemname" class="form-label fw-bold">Item Name</label>
                <input type="text" class="myitem form-control" id="itemname" ariadescribedby="itemHelp" name="itemname">
                <small id="itemHelp" class="text-muted"></small>
            </div>
            <div>
                <label for="quantity" class="form-label fw-bold">  Quantity</label>
                <input type="number" class="myitem form-control" id="quantity" name="quantity">
            </div>
            <div id="pricediv">
                <label for="price" class="form-label fw-bold">Price</label>
                <input type="number" class="myitem form-control" id="price" ariadescribedby="priceHelp" name="price">
                <small id="priceHelp" class="text-muted"></small>
            </div>
            <div>
            <label for="category" class="form-label fw-bold">Choose a category:</label>
            
            <select class="form-select" id="category" name="category">
            <option value="Grocery">Grocery</option>
            <option value="Electronics">Electronics</option>
            </select>

            </div>
        </div>
</div>
<div id="add/submit" class="row justify-content-center">
    <div class="col-8">
    <button type="button" class="btn btn-secondary" id="add_item">Add another item</button>
    <button class="btn btn-primary" id="sub_btn" type="submit">Submit</button>
</div>
</div>
    </form>
    <script src= "{% static 'index.js' %}" ></script>
    {% endblock %}