{% extends 'base.html' %}
    {% load static %}
    {% block title %}Customer Invoice{% endblock %}
    {% block content %}
    <form id="cust_form" method="POST" action="succeed/">
        {% csrf_token %}

          <div class="row justify-content-center">
            <div class="col-8">
            <div class="alert alert-info text-center fs-4" role="alert">
            Customer Details
              </div>
         <div class="mb-3"> 
        <label class="form-label fw-bold" for="name">Name:</label><br>
        <input type="text" class="form-control" id="name" name="name"><br>
         </div>
        <label class="form-label fw-bold" for="email">Email</label><br>
        <input type="text" class="form-control" id="email" name="email"><br>
<div class="mb-3">
        <label class="form-label fw-bold" for="phone">Phone Number</label><br>
        <input type="text" class="form-control" id="phone" name="phone"><br>
</div> 
</div>
</div>
    <div class="row justify-content-center" id="item-form">
        <div class="col-8" >
              <div class="alert alert-danger text-center fs-5" role="alert">
                Add New Item
              </div>
            <div>
                <label for="itemname" class="form-label fw-bold">Item Name</label><br>
                <input type="text" class="myitem form-control" id="itemname" name="itemname">
            </div>
            <div>
                <label for="quantity" class="form-label fw-bold">  Quantity</label><br>
                <input type="number" class="myitem form-control" id="quantity" name="quantity">
            </div>
            <div>
                <label for="price" class="form-label fw-bold">Price</label><br>
                <input type="number" class="myitem form-control" id="price" name="price">
            </div>
            <div>
            <label for="category" class="form-label fw-bold">Choose a category:</label>
            
            <select class="form-select" id="category" name="category">
            <option value="Grocery">Grocery</option>
            <option value="Electronics">Electronics</option>
            </select>

            </div>
        </div>
</div>
<div id="add/submit" class="row justify-content-center">
    <div class="col-8">
    <button type="button" class="btn btn-secondary" id="add_item">Add another item</button>
    <button id="submit" class="btn btn-primary" type="submit">Submit</button>
</div>
</div>
    </form>
    <script src= "{% static 'index.js' %}" ></script>
    {% endblock %}