<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Invoices</title>
    <style>
        table, th, td {
          border:1px solid black;
          text-align:center;
        }
        </style>
</head>
<body>
        <table style="width:100%">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
            </tr>
        {% for inv in invoice_list %}
            <tr>
              <td>{{inv.name}}</td>
              <td>{{inv.email}}</td>
              <td>{{inv.phone}}</td>
            </tr>
    {% endfor %}
        </table>
</body>
</html>