{% extends 'base.html' %}
    {% block title %}All Invoices{% endblock %}
      </style>
  {% block content %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Generate Invoices</th>
            </tr>
          </thead>
        {% for inv in names %}
        <tbody>
            <tr>
              <td>{{inv.name}}</td>
              <td>{{inv.email}}</td>
              <td>{{inv.phone}}</td>
              <td><a href="/generateInvoice/{{inv.id}}">View Invoice</a></td>
            </tr>
          </tbody>
    {% endfor %}
        </table>
      
        {%  endblock %}