{% extends 'base.html' %}
    {% block title %}All Invoices{% endblock %}
    <style>
        table, th, td {
          border:1px solid black;
          text-align:center;
        }
      </style>
  {% block content %}
        <table class="table" style="width:100%">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
            </tr>
        {% for inv in names %}
            <tr>
              <td>{{inv.name}}</td>
              <td>{{inv.email}}</td>
              <td>{{inv.phone}}</td>
              <td><a href="/generateInvoice/{{inv.id}}">Generate Invoice</a></td>
            </tr>
    {% endfor %}
        </table>
        
        {%  endblock %}